body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#stranky{
    display: flex;
    
}

.strana_viditelna{
    display: block;
    border: 3px black solid;
    padding: 5px;
    
}

.strana_off {
    display: none;
    border: 3px black solid;
    padding: 5px;
}
#button{
    padding: 50px;
}

#button2{
    padding: 50px;
}